.text-justify {
    text-align: justify;
  }

a {
  text-decoration: none !important;
}

.small-text {
  font-size: small;
}

.padding-row {
  padding: 30px !important;
}

.reverse-color{
  -webkit-filter: invert(1);
   filter: invert(1);
}

.margin-row {
  margin: 15px 0px 0px 0px !important;
} 

img {
  margin: 10px;
}

